.ar-hub-btn {
  display: flex;
  width: fit-content;
  padding: 0.5rem 2rem;
  background: #0025f5;
  color: white;
  border-radius: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Kanit";
  font-style: normal;
  font-size: 1.6rem;
  line-height: 140%;
  cursor: pointer;
  text-decoration: none;
}
